@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #6C5CE7;
  --secondary-color: #9D00FF;
  --accent-color: #9D00FF;
}


@font-face {
  font-family: "Lato", sans-serif;
   font-display: swap;
   font-style: normal;
   font-weight: 400;
}
:root,
:root.light {
 --background-color: #faf6f9;
--text-color:black;
}

:root.dark {
  
  --background-purple: rgba(173, 109, 244, 0.5);
  --background-color: #121212;
  --text-color:white;
}

body {
  background-color: rgba(173, 109, 244, 0.5);
  background-color: var(--background-color);
  background-image: var(--background-image);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}



.btn:hover {
  background-color: var(--secondary-color);
}

.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.table-container {
  @apply bg-white/5 dark:bg-[#121212]/5;
  border-radius: 1rem;
  overflow: hidden;
}

.header-scrolled {
  @apply bg-white/80 dark:bg-[#0F0F1A]/80;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mobile-menu {
  @apply bg-[color:var(--background-color)];
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  background-color: #9D00FF;
  width: 2px;
}


::-webkit-scrollbar-thumb {
  background: #9D00FF;
  border-radius: 4px;
}
.hero{
  font-family: "Syne", sans-serif;
}

/* Firefox */
html {
  
  scrollbar-color: #9D00FF;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .btn {
    width: 100%;
    max-width: 300px;
  }
}

/* Glassmorphism */
.glass {
  @apply bg-white/10 dark:bg-black/10;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Gradient text */
.gradient-text {
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

